:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --primary-clr-background: #f1f5f8;
  --primary-clr-1: #49a6e9;
  --primary-clr-2: #7fb9de;
  --primary-clr-3: #617d98;
}
body {
  background-color: var(--primary-clr-background);
}

.container {
  width: 80vw;
  margin: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  margin: 100px auto;
  width: 250px;
  text-align: center;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  width: 79px;
  height: 4px;
  background-color: var(--primary-clr-1);
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.person-card {
  width: 600px;
}
.person-card {
  background-color: white;
  padding: 20px 1px 30px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 9px 10px 20px 0px #aeadad40;
}
.person-card .author {
  text-align: center;
  letter-spacing: 0.05rem;
}
.person-card h5 {
  color: var(--primary-clr-2);
  text-align: center;
  margin: 10px auto;
  letter-spacing: 0.05rem;
}
.person-card .text {
  color: var(--primary-clr-3);
  width: 90%;
  margin: auto;
  text-align: center;
  line-height: 1.5rem;
}
.person-card .btn-container {
  width: 100px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
.person-card .btn-container .arrow-btn {
  background: transparent;
  border: none;
  color: var(--primary-clr-2);
  font-size: 1.5rem;
  cursor: pointer;
}
.person-card .btn-container .arrow-btn:hover {
  color: var(--primary-clr-3);
}
.person-card .surprise-btn {
  margin: 10px auto;
  display: block;
  border: none;
  background: #b6d6ed;
  padding: 5px 10px;
  color: #6195b6;
  border-radius: 2px;
  transition: 0.5s;
  cursor: pointer;
}
.person-card .surprise-btn:hover {
  background: #2795e4;
  color: #b6d6ed;
}
.person-card .image-container {
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 1;
  margin: 1.5rem auto;
}
.person-card .image-container::after {
  content: "";
  position: absolute;
  background-color: var(--primary-clr-1);
  width: 101%;
  height: 100%;
  border-radius: 50%;
  right: -10px;
  top: -3px;
  z-index: -1;
}
.person-card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.person-card .image-container .quote-icon {
  position: absolute;
  background: #49a6e9;
  color: white;
  width: 40px;
  height: 40px;
  display: grid;
  align-content: space-around;
  justify-content: center;
  border-radius: 50%;
  left: 5px;
  top: 15px;
}
